
.foodList { 
   
    display: flex;

    justify-content: space-evenly;
   
    flex-flow: row wrap; 
   
}

.foodList div {

    border: 1px solid chocolate;
   
}

h1 {
    margin: 10px
}

p {
    margin: 10px;
}
